.down{
    max-width: 30px;

}
    
.bigdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -34px;
    transform: translateY(-55px)
}